<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="WonKim.Text.Search" type="WonKim.Text.Search.Configuration.StringSearchConfiguration, WonKim.Text.Search"/>
	</configSections>

	<WonKim.Text.Search>
		<Dictionaries>
			<Dictionary key="OBO" name="OBO" path="data\dict-obo.txt" ignore-case="true" culture-invariant="false">
				<add key="boundary" value=" \t\n\r\f"/>
			</Dictionary>
		</Dictionaries>
	</WonKim.Text.Search>
</configuration>